<!-- Pagina principal, cuando el usuario esta logueado -->

<h1 class="text-center my-24 text-3xl">BIENVENIDO <b> {{name}}</b></h1>


<p style="font-size: 14px;">
	<h1 style="text-align: center; font-size: 30px;">Aqui Finaliza la Actividad</h1></font>
    </p>